.book-content{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.book-title{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
}

.comment{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
}

.odd{
    margin-left: 140px;
}

.even{
    margin-left: 685px;
}

.books{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.single-book{
    width: 700px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.head{
    font-size: 2em;
    text-align: center;
    font-weight: 600;
    color: #035c67;
    background: #6bdad5;
    border-radius: 8px;
}

.created{
    font-size: 0.6em;
    text-align: end;
    color: #035c67;
    margin: 50px 0;
}

.subscribers{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}

form{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

textarea{
    width: 95%;
    padding: 20px;
}

button.post{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: 500px;
    margin: 20px auto;
    height: 40px;
    border-radius: 5px;
    background: #035c67;
    color: white;
    font-size: 1.4em;
    border: none;
}

button.post:hover{
    background: inherit;
    color: #035c67;
    border: 1px solid #035c67;
    cursor: pointer;
}

.post-content{
    display: flex;
    flex-direction: column;
}

.post-content>div{
    display: flex;
}

.btn-del,
.btn-edit{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: 50px;
    margin: 5px auto;
    height: 20px;
    border-radius: 5px;
    background: #035c67;
    color: white;
    font-size: 0.8em;
    border: none;
}