<div class="book-content">
    @if(!isLoggedIn) {
        <app-home />
    } 
    <div class="book-title">
        <p class="head">{{theme.themeName}}</p>
        <div class="subscribers">
            <p>Created at: <time>{{theme.created_at | date:'yyyy-mm-dd hh:mm:ss'}}</time></p>
            <p>Subscribers: <span>{{(theme.subscribers.length) || 0}}</span></p>
        </div>
    </div>

    @for (post of theme.posts; track $index) {
    <div class="comment">
        <div class="header">
            <p>
                <span>{{post.userId.username}}</span> posted on
                <time>{{post.created_at | date:'yyyy-mm-dd hh:mm:ss'}}</time>
            </p>
        </div>
        <div class="post-content">
            <p>
                {{post.text}}
            </p>
        </div>
        <!-- <div class="footer">
            <p><span>{{post.likes.length || 0}}</span> likes</p>
        </div> -->
    </div>
    }

    @if(isLoggedIn) {
    <div class="comment">
        <p><span>{{username}}</span> comment:</p>
        <div class="answer">
            <form>
                <textarea name="postText" id="comment" cols="30" rows="10"></textarea>
                <button>Post</button>
            </form>
        </div>
    </div>
    }

</div>