@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);

.top-bar {
    background: #4a6066;
    color: white;
    height: 50px;
}

.top-bar ul {
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-right: 40px;
    list-style: none;
    height: 100%;
}

.top-bar li {
    align-content: center;
    padding: 0 20px;
    transition: background-color 0.4s ease;
}

.top-bar a{
    height: 100%;
}

.top-bar li:hover{
    background-color: #06262d;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header {
    font-size: 1.5em;
}

.bottom-bar{
    background: white;
    height: 120px;
    border-bottom: 2px solid #e1e5e5;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo {
    margin: 10px 100px;
    display: flex;
    width: 350px;
}

svg{
    .cls-1{fill:#6bdad5;}
    .cls-2{fill:#ff4438;}
    .cls-3{fill:#035c67;}
}

.logo:hover{
    .cls-1{fill:black;
        transition: fill 0.6s ease;}
    .cls-2{fill:black;
        transition: fill 0.3s ease;}
    .cls-3{fill:black}
}

.bottom-bar p{
    text-wrap: nowrap;
    font-size: 1.3em;
    font-weight: 500;
    align-content: center;
}

.red-buttons {
    height: 100%;
    display: flex;
    gap: 20px;
    font-weight: 500;
    letter-spacing: 1.6px;
    margin-right: 40px;
}

.red-buttons a{
    align-content: center;
    margin: 30px 0;
    color: #06262d;
    border-radius: 6px;
    padding: 8px;
    transition: background-color 0.4s ease;
}

.red-buttons a:hover{
    background: #ff4438;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.bottom-bar {
    justify-content: space-between;
}