<main>
    @if (isLoading) {
    <app-loader />
    }@else{
    <div class="books">
        <p class="head">Books Catalog</p>
        @for (theme of themes; track $index) {
            <div class="single-book">
                <div>
                    <a [routerLink]="theme._id" >
                        <p class="head">{{theme.themeName | slice: 25}} </p>
                    </a>
                </div>
                <div >
                    <div>
                        <div >
                            <p>Creator: <span>{{theme.userId.username}}</span></p>
                        </div>
                    </div>
                    <div >
                        <p>Subscribers: <span>{{theme?.subscribers?.length || 0}}</span></p>
                    </div>
                    <p class="created">Created at: <time>{{theme.created_at | date:'yyyy-mm-dd hh:mm:ss'}}</time></p>
                </div>
            </div>
        }
    </div>
    }
</main>